<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logoweb.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/Login.css">
    <script src="/js/login.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="all">
        <div class="login-box">
        <p style="text-transform: uppercase;">Login</p>
        <form method="POST" id="loginForm">
            <div class="user-box">
            <input required="" name="username" required type="text">
            <label>Username</label>
            </div>
            <div class="user-box">
            <input required="" name="password" required type="password">
            <label>Password</label>
            </div>
            <a href="#" id="submitBtn">
                <span></span><span></span><span></span><span></span>
                Submit
                </a>
        </form>
        <p>Forgot your password? <a href="#" class="a2" id="forgotBtn">Reset it here!</a></p>
        </div>
    </div>
</body>
</html>